
body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
	line-height: normal;
	font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-weight: 300;
}

.header {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0px;
	background-color: #333333;
	color: #cccccc;
}

.header-title {
	display: inline-block;
	color: white;
	padding-left: 20px;
	line-height: 50px;
}

.header-links {
	position: static;
	float: right;
	margin-right: 30px;
	height: 100%;
}

.header-links ul {
	margin: 0px;
	padding: 0px;
	height: 100%;
	list-style-type: none;
}

li.header-link {
	display: inline-block;
	box-sizing: border-box;
	height: 100%;
	max-height: 50px;
	list-style: none;
  	margin: 0 12px;
}

li.header-link a, .header-link a:visited {
	color: #B3B3B3;
	line-height: 50px;
  	letter-spacing: 0.063em;
  	text-transform: uppercase;
  	font-size: 0.88235em;
  	margin: 0;
	text-decoration: none;
}

.header-link a:hover {
	color: white;
}

.header-link.header-selected {
	color: white;
   	border-bottom: solid 4px rgb(123, 179, 242);
}

.header-link.header-selected a {
	color: white;
}

.left-nav {
	position: absolute;
	top: 50px;
	left: 0px;
	bottom: 0px;
	width: 280px;
	background-color: #ededed;
}

.left-nav-title {
	padding: 10px 20px;
	font-weight: 600;
}

.left-nav-links {

}

.left-nav-links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.left-nav-link {
}

.left-nav-link a {
	box-sizing: border-box;
	display: block;
	text-decoration: none;
	font-weight: 600;
	padding: 10px 30px;
	height: 100%;
}

.left-nav-link a, .left-nav-link a:visited {
	color: #606060;
}

.left-nav-link a:hover {
	box-sizing: border-box;
	background-color: #c0c0c0;
	border-left: solid 4px #a0a0a0;
	padding-left: 26px;
	color: black;
}

.left-nav-link a.left-nav-selected {
	border-left: solid 4px rgb(123, 179, 242);
	padding-left: 26px;
	color: black;
	background-color: white;
}

.main-content {
	margin-top: 50px;
	padding: 10px;
}

.spa-section {
	padding-left: 280px;
}